{% extends 'index.html' %} {% block content %}

<link rel="stylesheet" href="bs.css">

<div id="content-main">
    <div id="header">
        <!-- Header -->
        <button class="header-btn" id="back" onclick="history.back()">
            <h3><</h3>
        </button>
        <div id="header-title">
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721719247/blood_h0b2io.png" alt="">
            <h3>혈당 기록하기</h3>
        </div>
        <button type="submit" class="header-btn" id="bs-submit">
            <h4>저장하기</h4>
        </button>
    </div>
    <br>
    <hr color="#e3e3e3"><br>

    <!-- 중앙 달력 -->
    <div id="calendar-header1">
        <div id="calendar-header"></div>
        <div id="current-time"></div>
    </div>
    <br>
    <hr color="#e3e3e3"><br>
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

    <div class="select-box">
        <select id="my-select">
            <option value="아침 식전">아침 식전</option>
            <option value="아침 식후">아침 식후</option>
            <option value="점심 식전">점심 식전</option>
            <option value="점심 식후">점심 식후</option>
            <option value="저녁 식전">저녁 식전</option>
            <option value="저녁 식후">저녁 식후</option>
            <option value="공복">공복</option>
            <option value="취침 전">취침 전</option>
            <option value="실시간">실시간</option>
        </select>
    </div>

    <!-- 중앙 -->
    <div class="block-container">

        <div class="box1" id="div1">
            <div class="color-box" id="resultBox1" onchange="checkLevelBsBefore()"></div>
            <div>
                <h5>혈당</h5>
            </div>
            <div><input type="number" id="record-bs-before" min="0" max="999" onkeyup="checkLevelBsBefore()" />mg/dL
            </div>
        </div>

        <form id="div2" style="visibility: hidden;">
            <div class="color-box" id="resultBox2" onchange="checkLevelBsAfter()"></div>
            <div>
                <h5>혈당</h5>
            </div>
            <div><input type="number" id="record-bs-after" min="0" max="999" onkeyup="checkLevelBsAfter()" />mg/dL
            </div>

        </form>
    </div>

    <div class="box2">
        <h5>특이사항</h5>
        <input type="text" id="eat-memo">
    </div>

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="bs.js"></script>
{% endblock %}