<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bs.css">
</head>

<body>
    <div id="datePicker">
        <label for="recordDate"></label>
        <input type="date" id="recordDate" value="" onchange="updateDate()">
    </div>

    <div class="Table" id="bsTable">
        <table>

    <div>
        <tr><td class="box1">
        <div>
            <input type="radio" name="bstime" id="아침">아침
        <input type="radio" name="bstime" id="점심">점심
        <input type="radio" name="bstime" id="저녁">저녁
        </div>
    </td></tr>
    </div>


            <div>
                <tr>
                    <td class="box1">
                        <div class="colorBox" id="resultBox1"></div>
                            <div><h5>식전 혈당</h5></div>
                            <div><input type="number" id="recordBsBefore" min="0" max="999">mg/dL
                            <button onclick="checkLevelBsBefore()">계산</button></div>
                    </td>
                </tr>
            </div>

            <div>
                <tr>
                    <td class="box1">
                        <div class="colorBox" id="resultBox2"></div>
                            <h5>식후 혈당</h5>
                            <div><input type="number" id="recordBsAfter" min="0" max="999">mg/dL
                            <button onclick="checkLevelBsAfter()">계산</button></div>
                    </td>
                </tr>
            </div>

            <div>
                <tr>
                    <td class="box1">
                        <h5>약 섭취</h5>
                        <input type="checkbox">
                    </td>
                </tr>
            </div>
            
            <div>
            <tr>
                <td class="box2">
                    <label for="bsDrug">
                        <h5>식사 정보</h5>
                    </label>
                    <input type="text" id="eatRecord">
                </td>
            </tr>
            </div>

            <div>
            <tr>
                <td class="box2">
                    <h5>특이사항</h5>
                <input type="text", id="eatMemo">
                </td>
            </tr>
        </div>
        </table>
    </div>
    <div>
        <tr>
            <td><input type="submit" value="+"></td>
        </tr>
    </div>

    <script src="bs.js"></script>
</body>

</html>