<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SugarGuard</title>
    <link rel="icon" href="/Logo.ico">

    <!-- nunjucks에서는 public 파일을 사용할 때 상대경로를 사용하지 않는다. public을 통한 절대 경로를 사용함
     
        public 폴더에 업로드를 하면 자동으로 서버에 등록이 됨 
        즉, http://localhost:3000/index.css <- 이렇게 바로 이동이 가능!

        그렇기 때문에 절대경로를 사용하는 것이다

        ./index.css (X)
        index.css (O)

    -->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="main.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</head>
<body>
    <div id="document">
        <div id="navBar"> <!-- 네비게이션 바 -->
            <a href="#" id="nav1"><ion-icon name="restaurant-outline" size="large"></ion-icon></a> <!-- 레시피 추천 -->
            <a href="#" id="nav2"><ion-icon name="search-outline" size="large"></ion-icon></a><!-- 혈당지수 검색 -->
            <a href="#" id="nav3"><ion-icon name="home-outline" size="large"></ion-icon></a> <!-- 메인페이지 -->
            <a href="#" id="nav4"><ion-icon name="create-outline" size="large"></ion-icon></a> <!-- 당뇨페이지 -->
            <a href="#" id="nav5"><ion-icon name="person-outline" size="large"></ion-icon></a> <!-- 마이페이지,세션처리 -->
        </div>
        <!-- *** 본문 작성은 아래로 *** -->

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>