<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
    <form action="">
    <div id="login_main">
        <input type="text"><br>
        <input type="password"><br>
        <a href="#">아이디/비밀번호 찾기</a>
        <a href="#">회원가입</a><br>
    </div>
    <a href="#">
        <img src="../img/kakao_login_medium_wide.png" alt="">
    </a>
    <a href="#">
        <img src="" alt="">
    </a>
    </form>
</body>
</html>