{% extends 'index.html' %} {% block content %}
<link rel="stylesheet" href="main.css" />
<!-- icon이랑 today 삭제 -->
<div id="content-main">
    <!-- Header -->
    <h3 id="header">SugarGuard</h3>

    <!-- 대형차트 -->
    <div class="divs" id="chart">
        <div class="chart-container">
            <!-- 차트 css를 위한 class : chart-container -->
            <canvas id="mainChart2"></canvas>
        </div>
        <p id="chart-text">
            <strong>Big Chart</strong><br /><span>Details</span>
        </p>
    </div>

    <!-- 중앙 달력 -->
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

    <!-- 중앙 -->
        <div id="block-container">
            <!-- 레시피 추천 -->
            <div id="recipe">
                <span>우리가 도와줄게요</span><p>당뇨에 좋은 레시피<br> 추천</p>
            </div>

            <!-- 당뇨 일지 -->
            <div id="diabetes-log">

            </div>

            <!-- 운동 일지 -->
            <div id="exercise-log">

            </div>

            <!-- 식사 일지 -->
            <div id="meals-log">

            </divclass=>
        </div>
    </div>
</div>
</div>
</div>


<!-- Script -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-gradient"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/main.js"></script>
<script src="/calender.js"></script>

{% endblock %}