{% extends 'index.html' %} {% block content %}

<link rel="stylesheet" href="main.css" />
<!-- icon이랑 today 삭제 -->
<div id="content-main">
    <!-- Header -->
    <h2 id="header">Sugar Guard</h2>

    <!-- 대형차트 -->
    <div class="divs" id="chart">
        <div class="chart-container">
            <!-- 차트 css를 위한 class : chart-container -->
            <canvas id="mainChart2"></canvas>
        </div>
        <p id="chart-text">
            <strong>Big Chart</strong><br /><span>Details</span>
        </p>
    </div>

    <!-- 중앙 달력 -->
    <div id="calendar-header"></div>
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

    <!-- 중앙 -->
        <div class="block-container">


            <div class="main-block"> <!-- flex 가로방향 -->
                
                <div class="sub-block"> <!-- flex 세로방향 -->
                    <!-- 여기는 제목 -->
                    <h3> 레시피추천</h3>
                    <p class="ptag">당뇨 환자를 위한 <br>레시피 추천</p>
                </div>
                <div>
                    <img id="main-recipe" src="main_recipe.png" alt="#">
                </div>
            </div>
            <div class="main-block"> <!-- flex 가로방향 -->
                
                <div class="sub-block"> <!-- flex 세로방향 -->
                    <!-- 여기는 제목 -->
                    <h3> 당뇨일지</h3>
                    <p class="ptag">혈당 관리와 건강 유지를 위한 당뇨일지</p>
                </div>
                <div>
                    <img id="main-diabetes" src="main-diabetes.png" alt="#">
                </div>
            </div>
            <div class="main-block"> <!-- flex 가로방향 -->
                
                <div class="sub-block"> <!-- flex 세로방향 -->
                    <!-- 여기는 제목 -->
                    <h3> 운동일지 </h3>
                    <p class="ptag">효과적인 당뇨 관리를 위한 운동 기록</p>
                </div>
                <div>
                    <img id="main-recipe" src="main_recipe.png" alt="#">
                </div>
            </div>
            <div class="main-block"> <!-- flex 가로방향 -->
                <div class="sub-block"> <!-- flex 세로방향 -->
                    <!-- 여기는 제목 -->
                    <h3> 식사일지 </h3>
                    <p class="ptag">건강한 식단을 위한 식사 기록</p>
                </div>
                <div>
                    <img id="main-recipe" src="main_recipe.png" alt="#">
                </div>
            </div>
            <div style="height:70px"></div>
        </div>
    </div>
</div>
</div>
</div>


<!-- Script -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-gradient"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/main.js"></script>
<script src="/calender.js"></script>

{% endblock %}