{% extends "index.html" %}{% block content %}
<link rel="stylesheet" href="mealrecord.css">

<div>
    <h2>Sugar Guard</h2>
    <div id="mealrecord">
        <div id="time-meal">
            <a href="" id="breakfast"><span>
                    <h2>아침</h2>
                </span></a>
            <a href="" id="lunch"><span>
                    <h2>점심</h2>
                </span></a>
            <a href="" id="dinner"><span>
                    <h2>저녁</h2>
                </span></a>
            <a href="" id="snack"><span>
                    <h2>간식</h2>
                </span></a>
        </div><br>
        <div id="meal-information">
            <input type="text" value="식사정보">
        </div><br>
        <div id="medicine">
            <input type="text" value="약">

        </div>
    </div>
</div>
{% endblock %}