{% extends "index.html" %}{% block content %}
<link rel="stylesheet" href="mypage.css">
    <div class="mypage_main">
        <div class="mypage_profile">
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721711168/%EB%B3%91%EC%9B%90%EC%9D%B4%EB%AA%A8%ED%8B%B0%EC%BD%981_sb8dna.png" alt="">
            <a href="/login">로그인 해주세요.</a>
        </div>
        <div class="mypage_blood">
            <div class="mypage_blood_title">
                <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721719247/blood_h0b2io.png" alt="">
                <h3>혈당</h3>
            </div>
            <div class="mypage_blood_title_detail">
                <h1>95</h1>
                <h1>mg/dl</h1>
            </div>
        </div>
        <div class="mypage_blood">
            <div class="mypage_blood_title">
                <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721719663/002_cuhgi9.png" alt="">
                <h3>운동</h3>
            </div>
            <div class="mypage_blood_title_detail">
                <h1>00:00</h1>
                <h4>m</h4>
            </div>
        </div>
    </div>
{% endblock %}
