{% extends "index.html" %}{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="mypage.css">
<div class="mypage_main">
    <!-- 로딩 화면 -->
    <div id="loading-screen">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>

    {% if not userId %}
    <div class="mypage_profile">
        <a href="/login">
            <div class="mypage-login-div">
                <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721891574/%EC%A0%9C%EB%AA%A9%EC%9D%84-%EC%9E%85%EB%A0%A5%ED%95%B4%EC%A3%BC%EC%84%B8%EC%9A%94_-008_hvrrzh.png"
                    alt="">
                <span>로그인 해주세요</span>
            </div>
        </a>
    </div>
    {% endif %}
    {% if userId %}
    <div id="mypage-title">
        <!-- 타이틀 문자열이 적히는 곳 -->
        <div id="mypage-title-text">차트 Report</div>
        <!-- 뒤로 가기 버튼 -->
        <div id="mypage-goback">
            <i class="fa-solid fa-angle-left"></i>
        </div>
    </div>
    <hr />
    <div class="mypage_blood">
        <div class="mypage_blood_title">
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721719247/blood_h0b2io.png" alt="">
            <h3>혈당</h3>
        </div>
        <div id="mypage-blood-sugar-div" class="mypage_blood_title_detail">
            <h1>--</h1>
            <h4>mg/dl</h4>
        </div>
    </div>
    <div class="mypage_blood">
        <div class="mypage_blood_title">
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721719663/002_cuhgi9.png" alt="">
            <h3>운동</h3>
        </div>
        <div id="mypage-exercise-div" class=" mypage_blood_title_detail">
            <h1>---</h1>
            <h4>kcal</h4>
        </div>
    </div>
    <div class="mypage_blood">
        <div class="mypage_blood_title">
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721885477/%EC%A0%9C%EB%AA%A9%EC%9D%84_%EC%9E%85%EB%A0%A5%ED%95%B4%EC%A3%BC%EC%84%B8%EC%9A%94_-005_tvsy8t.png"
                alt="">
            <h3>식사</h3>
        </div>
        <div id="mypage-meal-div" class=" mypage_blood_title_detail">
            <h1>---</h1>
            <h4>kcal</h4>
        </div>
    </div>
    <div class="mypage_blood">
        <div class="mypage_blood_title">
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721888337/image-removebg-preview_3_t28f17.png"
                alt="">
            <h3>체중</h3>
        </div>
        <div id="mypage-weight-div" class="mypage_blood_title_detail">
            <h1>--</h1>
            <h4>kg</h4>
        </div>
    </div>
    <div class="mypage_blood">
        <div class="mypage_blood_title">
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721983336/%EC%A0%9C%EB%AA%A9%EC%9D%84-%EC%9E%85%EB%A0%A5%ED%95%B4%EC%A3%BC%EC%84%B8%EC%9A%94_-009_basbm8.png"
                alt="">
            <h3>혈압</h3>
        </div>
        <div id="mypage-blood-pressure-div" class="mypage_blood_title_detail">
            <h1>--~---</h1>
            <h4>mmHg</h4>
        </div>
    </div>

    <button id="mypage-modity-button" class="mypage-button">회원 정보 수정</button>
    <button id="mypage-logout-button" class="mypage-button">로그아웃</button>
    {% endif %}
</div>
<script>
    window.userIdFromTemplate = "{{ userId | safe }}";
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="mypage.js"></script>
{% endblock %}