{% extends "index.html" %}{% block content %}
<link rel="stylesheet" href="recipe.css">


<div id="content">
    <div id="recipe-name">
        <h2>육류</h2>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3143/3143643.png" alt=""><br><span>소</span></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1582/1582214.png" alt=""><br><span>돼지</span></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/7063/7063439.png" alt=""><br><span>닭</span></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/6192/6192103.png" alt=""><br><span>생선</span></a>
        <h2>야채</h2>
        <a href="#"><img src="" alt=""><br><span>양파</span></a>
        <a href="#"><img src="" alt=""><br><span>당근</span></a>
        <a href="#"><img src="" alt=""><br><span>토마토</span></a>
        <a href="#"><img src="" alt=""><br><span>버섯</span></a>
        <a href="#"><img src="" alt=""><br><span>양배추</span></a>
        <a href="#"><img src="" alt=""><br><span>오이</span></a>
        <a href="#"><img src="" alt=""><br><span>감자</span></a>
        <a href="#"><img src="" alt=""><br><span>고구마</span></a>
        <h2>곡물</h2>
        <a href="#">보리</a>
        <a href="#">현미</a>
        <a href="#">메밀</a>
        <a href="#">잡곡</a>
        <h2>조미료</h2>
        <a href="#">소금</a>
        <a href="#">후추</a>
        <a href="#">간장</a>
        <a href="#">고추가루</a>
        <h2>조리양</h2>
        <a href="#">1인분</a>
        <a href="#">2인분</a>
        <a href="#">3인분</a>
        <a href="#">4인분</a>
    </div>
    <div id="recipe-bar">
        <form action="" class="recipe-bar1">
            <input type="text" id="search-input" name="recipe-search-bar">
            <input type="submit" value="검색">
        </form>
    </div>
</div>

{% endblock %}