{% extends 'index.html' %} {% block content %}
<link rel="stylesheet" href="recipe_list.css" />
<!-- title -->
<div class="container-title">
    <div class="list_title">
        <a href="/recipe" id="recipe-page-background">
            <img src="recipe-background.png" alt="Recipe Image" />
        </a>
        <span>레시피 추천 목록</span>
    </div>
</div>

<!-- content -->
<div class="content-list" id="recipe-list">
    <!-- 이곳에 레시피 목록이 뜹니다 -->
</div>
<script src="recipe_list.js"></script>
{% endblock %}
