<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SugarGuard</title>
    <link rel="stylesheet" href="../style/recipe.css">
</head>

<body>
    
        <!-- *** 본문 작성은 아래로 *** -->
        <div id="content">
            <h4>Sugar Guard</h4>
        </div>
        <h2>식재료</h2><br>
        <div id="recipe-name">
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
            <a href="#">식재료</a>
        </div>
        <h2>조미료</h2>
        <div id="recipe-name">
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
            <a href="#">조미료</a>
        </div>
        <div id="recipe-bar">
            <form action="" class="recipe-bar1">
                <input type="text" id="search-input" name="recipe-search-bar">
                <input type="submit" value="검색">
            </form>
        </div>
        
    
</body>

</html>