<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SugarGuard</title>
    <link rel="shortcut icon" href="../Logo.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../index2.css" />
    <link rel="stylesheet" href="../report.css" />
    <link rel="shortcut icon" href="../Logo.ico" />
</head>

<body>
    <div id="loading-screen">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div id="document">
        <div id="report-title">
            <!-- 타이틀 문자열이 적히는 곳 -->
            <div id="report-title-text"></div>
            <!-- 뒤로 가기 버튼 -->
            <div id="report-goback">
                <i class="fa-solid fa-angle-left"></i>
            </div>
        </div>
        <hr />
        <!-- tab bar -->
        <div class="tab">
            <nav>
                <ul>
                    <li class="active"><a href="">WEEK</a></li>
                    <li><a href="">MONTH</a></li>
                </ul>
            </nav>
        </div>
        <div class="report-content">
            <div id="content-result1"></div>
            <div id="container-result">
                <div id="content-result2"></div>
                <div id="content-result3"></div>
            </div>
        </div>

        <div class="chart-container">
            <canvas id="Chart"></canvas>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../report.js"></script>
</body>

</html>