<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SugarGuard</title>

    <meta property="og:title" content="Sugar Guard - 건강한 당뇨 생활을 위한 필수품">
    <meta property="og:description" content="당뇨인들을 위한 맞춤 레시피 서비스와 건강 관리 일지 서비스를 제공합니다.">
    <meta property="og:image" content="logo-512x512.png">
    <meta property="og:url" content="http://sugarguard.online">
    <meta property="og:type" content="website">

    <link rel="shortcut icon" href="../Favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="logo-180x180.png">
    <link rel="icon" sizes="192x192" href="logo-192x192.png">
    <link rel="icon" sizes="512x512" href="logo-512x512.png">

    <link rel="stylesheet" href="../reset_password.css">
</head>

<body>
    <div id="reset-password-wrapper">
        <div id=reset-password-content>
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721706226/001_y4eee9.png" alt="Logo">
            <h1>SugarGuard</h1>
            <input type="password" class="reset-password-input" placeholder="비밀번호" maxlength="16"><br>
            <input type="password" class="reset-password-input" placeholder="비밀번호 재입력" maxlength="16"><br>
            <button id="reset-password-button">비밀번호 변경</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../reset_password.js"></script>
</body>

</html>