{% extends "index.html" %}{% block content %}
<link rel="stylesheet" href="login.css">
<!-- 기본 로그인 입력 -->
<div id="login_main">
    <div id="login_input">
        <div class="login-logo">
            <img src="https://res.cloudinary.com/difzc7bsf/image/upload/v1721706226/001_y4eee9.png" alt="Logo">
            <h1>비밀번호 재설정</h1>
        </div>
        <input type="text" id="login_input_write" class="login_input_write" placeholder="이메일">
        <button id="login_button">비밀번호 재설정 메일 보내기</button>
        <!-- <div id="register-link">
            <b><a href="#">아이디/비밀번호 찾기</a></b>
            <b><a href="/join">회원가입</a><br></b>
        </div> -->
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="reset_password_form.js"></script>
{% endblock %}