<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SugarGuard</title>

    <meta property="og:title" content="Sugar Guard - 건강한 당뇨 생활을 위한 필수품">
    <meta property="og:description" content="당뇨인들을 위한 맞춤 레시피 서비스와 건강 관리 일지 서비스를 제공합니다.">
    <meta property="og:image" content="logo-512x512.png">
    <meta property="og:url" content="http://sugarguard.online">
    <meta property="og:type" content="website">

    <link rel="shortcut icon" href="../Favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="logo-180x180.png">
    <link rel="icon" sizes="192x192" href="logo-192x192.png">
    <link rel="icon" sizes="512x512" href="logo-512x512.png">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: '만료된 링크입니다.',
            text: '비밀번호 변경 요청을 새로 해주시기 바랍니다.',
            icon: 'error',
            confirmButtonText: '확인'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/';
            }
        });
    </script>
</body>

</html>