<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SugarGuard</title>
    <link rel="shortcut icon" href="../Logo.ico" />
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: '만료된 링크입니다.',
            text: '비밀번호 변경 요청을 새로 해주시기 바랍니다.',
            icon: 'error',
            confirmButtonText: '확인'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/';
            }
        });
    </script>
</body>

</html>