{% extends "index.html" %}{% block content %}
<link rel="stylesheet" href="sugardiary.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div id="sugardiary_main">
    <div id="calendar-header"></div>
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>
    <div id="records-container"></div>

    <div class="floating-buttons">
        <button id="main-toggle-button" class="floating-button">+</button>
        <div id="menu-buttons" class="hidden">
            <div class="floating-button-container">
                <span class="floating-button-text">운동 기록</span>
                <button id="exercise-button" class="floating-button">+</button>
            </div>
            <div class="floating-button-container">
                <span class="floating-button-text">체중 기록</span>
                <button id="weight-record-button" class="floating-button">+</button>
            </div>
            <div class="floating-button-container">
                <span class="floating-button-text">혈압 기록</span>
                <button id="blood-pressure-button" class="floating-button">+</button>
            </div>
            <div class="floating-button-container">
                <span class="floating-button-text">식사 혈당 기록</span>
                <button id="meal-sugar-button" class="floating-button">+</button>
            </div>
            <div class="floating-button-container">
                <span class="floating-button-text">혈당 기록</span>
                <button id="sugar-button" class="floating-button">+</button>
            </div>
        </div>
    </div>
</div>
<script src="sugardiary.js"></script>
<script src="calender.js"></script>
{% endblock %}