<!DOCTYPE html>
<html>
    <head>
        <title>Record Links</title>
    </head>
    <body>
        <div class="LinkExercise exercise-record" data-href="/exercise">
            Exercise Record
        </div>
        <div class="LinkMeal mealrecord-record" data-href="/mealrecord">
            Meal Record
        </div>
        <div class="LinkDiabetes sugar-record" data-href="/bs">
            Sugar Record
        </div>
        <!-- 다른 레코드도 여기에 추가할 수 있습니다 -->

        <script>
            // 선택된 날짜 예시
            const selectedDate = new Date();

            // 링크 매핑 객체
            const linkMapping = {
                "exercise-record": "/exercise",
                "weight-record": "",
                "blood-pressure-record": "",
                "mealrecord-record": "/mealrecord",
                "sugar-record": "/bs",
            };

            // 링크 설정 함수
            function setLink(div) {
                const recordClass = Array.from(div.classList).find((cls) =>
                    linkMapping.hasOwnProperty(cls)
                );
                if (recordClass) {
                    const link = linkMapping[recordClass];
                    div.setAttribute("data-href", link);
                }
            }

            // 각 div에 링크 설정 및 클릭 이벤트 추가
            document
                .querySelectorAll(".LinkDiabetes, .LinkExercise, .LinkMeal")
                .forEach((div) => {
                    setLink(div);
                    div.addEventListener("click", function () {
                        const formattedDate = selectedDate
                            .toISOString()
                            .split("T")[0]; // YYYY-MM-DD 형식으로 변환
                        window.location.href = `${this.getAttribute(
                            "data-href"
                        )}?date=${formattedDate}`;
                    });
                });
        </script>
    </body>
</html>
