#login_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
}
#login_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 55%;
    margin-top: 5%;
    border-radius: 15px;
    background-color: white;
}
.login_input_write {
    width: 70%;
    height: 8%;
    border: 0;
    border-bottom: solid 1px rgb(16, 15, 15);
}
#login_input img {
    width: 40%;
    height: 30%;
}
#login_input #login_button {
    background-color: rgb(255, 0, 0);
    width: 70%;
    height: 8%;
    border: 0;
    color: white;
}
#login_main {
    height: 100vh;
}
#login_main a {
    font-size: 10px;
    text-decoration-line: none;
    color: black;
}
