@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
    font-family: "MoveSans-Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: pretendard;
}
#header {
    text-align: center;
    padding: 0%;
    margin-top: 5%; /* 상하 여백 설정 */
    color: rgb(65, 61, 61);
    /* font-family: 'MoveSans-Bold';
    font-weight: 700;
    font-style: normal;
    font-size: 32px; */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

#content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2%; /* 내부 여백 설정 */
    box-sizing: border-box; /* 테두리와 여백을 포함하여 크기 계산 */
    margin-bottom: 50px;
}

.divs {
    width: 100%; /* 화면 너비의 80% */
    padding: 2%; /* 내부 여백 설정 */
    margin: 2% 0; /* 상하 여백 설정 */
    border-radius: 20px; /* 모서리 둥글게 */
}
.block-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
}
.main-block {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(65, 61, 61);
    padding: 0%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.sub-block {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* check */
    /* width: 80%;
    margin-right: 20px; */
    width: 70%;
    margin-right: 30px;
}
.sub-block h3 {
    margin-bottom: 3px;
}
.sub-block p {
    margin-top: 3px;
}
/* img 파일 */
#main-image {
    width: 82%;
    max-width: 300px;
    /* height: auto; */
}

.block-container > a {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(65, 61, 61);
    transition: background-color 0.3s ease;
}

.block-container > a:hover {
    background-color: #e0e0e0;
}

.block-container h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ptag {
    color: rgb(145, 145, 145);
    font-size: 12px;
    margin-bottom: 6px;
}

/* Div 태그들 (5) */
#chart {
    background-color: #ffffff;
    margin-top: 25px;
    padding: 5%;
}

/* mainChart */
.chart-container {
    width: 60%; /* 원래 크기의 4분의 1 */
    height: 120px; /* 원래 크기의 4분의 1 */
}
#chart {
    display: flex;
    margin-bottom: 0; /* 필요에 따라 조정 */
}
#chart-text {
    margin-left: 20px; /* 차트와 텍스트 사이의 간격 */
    font-size: 16px; /* 텍스트 크기 조절 */
    text-align: left; /* 텍스트 정렬 */
    color: rgb(65, 61, 61);
}
#chart-text span {
    font-size: 12px;
}

/* Calendar Container */
#calendar-container {
    width: 100%;
    max-width: 100%; /* 화면 너비에 맞게 조정 */
    margin: auto;
    padding-bottom: 18px; /* 네비게이션 바와의 간격을 위해 추가 */
}

#calendar-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: 1.2em; /* 더 큰 폰트 크기 */
    font-weight: bold;
    width: 100%; /* 전체 너비 사용 */
    background-color: transparent; /* 배경색 투명 */
}

#calendar-header span {
    margin: 0 5px;
}

#calendar {
    display: flex;
    flex-wrap: nowrap; /* 날짜들을 한 줄로 나열 */
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
    gap: 10px; /* 날짜 사이 간격 */
    background-color: transparent; /* 배경색 투명 */
}

#calendar .day {
    flex: 0 0 11.6%; /* 7일이 한 줄에 들어가게 설정 */
    height: 70px; /* 날짜 셀의 높이 */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 30px; /* 날짜 셀의 너비 */
    height: 70px; /* 날짜 셀의 높이 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 13px;
    padding: 5px;
    cursor: pointer; /* 클릭 가능한 요소로 설정 */
    display: flex;
    align-items: center;
    justify-content: center; /* 내용 중앙 정렬 */
    background-color: #ffffff; /* 날짜 셀 배경색 투명 */
    border-radius: 60px;
}

#calendar .day.selected {
    background-color: rgb(65, 61, 61); /* 선택된 날짜의 배경색 */
    color: white; /* 선택된 날짜의 텍스트 색상 */
    font-weight: bold; /* 선택된 날짜의 텍스트 굵게 */
}

/* mainChart2 */

.chart-container2 {
    width: 100%;
    height: 70%;
}

#mainChart2 {
    width: 100%;
    height: 80%;
}
