@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2")
        format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2")
        format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2")
        format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2")
        format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2")
        format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2")
        format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
        format("woff2");
    font-weight: 900;
    font-style: normal;
}

#mealrecord {
    width: 98%;
    /* min-height: 100vh;
    max-height: 900px; */
}

#mealrecord-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    margin-bottom: 15px;
}

#meal-title {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#meal-title img {
    width: 24px;
    height: 24px;
    margin-right: 3px;
}
#meal-title-text {
    height: 100%;
    /* width: 100%; */
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 700;
}

#meal-title > :first-child {
    display: flex;
    flex-direction: row;
}

/* 뒤로 가기 버튼 */
#meal-goback {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 2px;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 100;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    z-index: 10;
}
/* 저장하기 버튼 */
#meal-save {
    position: absolute;
    height: 24px;
    right: 2px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
    font-size: 13px;
    text-align: center;
    line-height: 24px; /* line-height 추가하여 텍스트를 세로로 중앙 정렬 */
    z-index: 10;
}

#mealrecord-wrapper h2 {
    position: relative;
    color: rgba(0, 0, 0, 0.474);
    max-width: 90%;
    top: 10px;
}

#mealrecord-wrapper-button {
    position: absolute;
    right: 10px;
    top: 0%;
    padding: 15px 10px;
    border: none;
    background-color: #f6f6f6;
    font-size: 16px;
}

#title {
    position: relative;
    text-align: center;
    top: 10px;
    left: 15px;
}

#mealrecord-page-background {
    position: relative;
    bottom: 15px;
    right: 50%;
    top: 0%;
}

#mealrecord-page-background img {
    max-width: 20px;
}
.block-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
}

/* Calendar Container */
#calendar-container {
    width: 100%;
    max-width: 100%; /* 화면 너비에 맞게 조정 */
    margin: auto;
    padding-bottom: 18px; /* 네비게이션 바와의 간격을 위해 추가 */
}

#calendar-header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    width: 100%;
    background-color: transparent; /* 배경색 투명 */
}
#current-time {
    /* display: flex; */
    align-items: right;
    width: 50px;
}

#calendar-header {
    position: relative;
    bottom: 2px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.2em; /* 더 큰 폰트 크기 */
    font-weight: bold;
    background-color: transparent; /* 배경색 투명 */
}

#calendar {
    display: flex;
    flex-wrap: nowrap; /* 날짜들을 한 줄로 나열 */
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    box-sizing: border-box;
    gap: 10px; /* 날짜 사이 간격 */
    background-color: transparent; /* 배경색 투명 */
}

#calendar .day {
    flex: 0 0 11.6%; /* 7일이 한 줄에 들어가게 설정 */
    height: 70px; /* 날짜 셀의 높이 */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 30px; /* 날짜 셀의 너비 */
    height: 70px; /* 날짜 셀의 높이 */
    font-size: 13px;
    padding: 5px;
    cursor: pointer; /* 클릭 가능한 요소로 설정 */
    display: flex;
    align-items: center;
    justify-content: center; /* 내용 중앙 정렬 */
    background-color: #ffffff; /* 날짜 셀 배경색 투명 */
    border-radius: 60px;
}

#calendar .day.selected {
    background-color: rgb(65, 61, 61); /* 선택된 날짜의 배경색 */
    color: white; /* 선택된 날짜의 텍스트 색상 */
    font-weight: bold; /* 선택된 날짜의 텍스트 굵게 */
}

#current-time {
    /* display: flex; */
    align-items: right;
    /* width: 50px; */
}

#time {
    align-items: right;
    background-color: #f6f6f6;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

#time-meal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 70px;
    margin-bottom: 10px;
}

#time-meal a {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-decoration: none;
    color: rgba(0, 0, 0, 0.474);
    padding: 5px 0 5px 10px;
    /* padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */
}

#time-meal a.active {
    background-color: #e3e3e3;
}

#time-meal h3 {
    writing-mode: vertical-lr; /* 세로로 변환 */
}

#time-meal img {
    width: 40px;
    height: 40px;
}

#meal h2 {
    margin-left: 7px;
}

#special h2 {
    margin-left: 7px;
}
#special {
    position: relative;
    bottom: 10px;
}

#medicine h2 {
    position: relative;
    margin-left: 7px;
    top: 30px;
}

#medicine-information {
    position: relative;
    margin-bottom: 40px;
    top: 20px;
}

#medicine-information input {
    width: 97%;
    height: 50px;
    font-size: 20px;
    margin-left: 7px;
    font-weight: 100;
    border: 0;
    border-radius: 10px;
}

/* textarea {
    width: 97%;
    height: 70px;
    margin-left: 7px;
    border: 0;
    border-radius: 10px;
} */

/* 카메라 아이콘 */
#mealrecord-camera {
    height: 30px;
    width: 97%;
    margin-left: 2%;
    border-radius: 10px;
    border: white;
    background-color: #e3e3e3;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.box2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 25px;
    /* margin-top: 10px; */
}

.box3 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    background-color: #ffffff;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 25px;
    /* margin-top: 10px; */
}

.box4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.box5 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    background-color: #ffffff;
    width: 100%;
    height: 255px;
    border-radius: 10px;
    padding: 25px;
    /* margin-top: 10px; */
}

#photoDiv {
    width: 100%;
    height: 200px;
    /* border: 1px solid #eeeeee; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
    background-color: #eeeeee;
}

/* #photoDiv img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#photoDiv img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

#photoDiv i {
    font-size: 30px;
    color: #ccc;
}

textarea {
    font-family: "Pretendard";
}

#eat-memo {
    height: 80px;
    width: 100%;
    border: solid 1px #bdbdbd;
    font-family: "Pretendard" !important;
    /* font-size: 18px; */
    resize: none;
    margin-top: 5px;
    padding: 3px;
    text-decoration: none;
}
#medication-memo {
    height: 60px;
    width: 100%;
    border: solid 1px #bdbdbd;
    font-family: "Pretendard" !important;
    /* font-size: 18px; */
    resize: none;
    margin-top: 5px;
    padding: 3px;
    text-decoration: none;
}

input[type="number"] {
    border: 0;
    border-bottom: solid 1px #bdbdbd;
    height: 25px;
    width: 80px;
    text-align: center;
    font-family: "Pretendard";
}

#box1-inner {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

#calc-kcal {
    background-color: #dddddd;
    border: none;

    margin-left: 10px;

    border-radius: 5px;
    height: 30px;
    width: 85px;

    font-family: "Pretendard";
    font-size: 14px;
    color: #000000;
}

#fileInput {
    display: none;
}

/* 로딩 화면 */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    z-index: 9999;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite,
        colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285f4;
    }

    25% {
        stroke: #de3e35;
    }

    50% {
        stroke: #f7c223;
    }

    75% {
        stroke: #1b9a59;
    }

    100% {
        stroke: #4285f4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285f4;
    }

    25% {
        stroke: #de3e35;
    }

    50% {
        stroke: #f7c223;
    }

    75% {
        stroke: #1b9a59;
    }

    100% {
        stroke: #4285f4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

.my-confirm-button {
    background-color: #6c77db !important;
    color: white !important;
    font-family: "Pretendard" !important;
}

.my-cancel-button {
    background-color: rgb(255, 92, 92) !important;
    color: white !important;
    font-family: "Pretendard" !important;
}
