@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

h3 {
    font-family: Pretendard;
    font-weight: 900;
    font-size: 20px;
}

h4 {
    font-family: Pretendard;
    font-weight: 700;
    font-size: 15px;
    text-align: right;
}

h1 {
    font-family: Pretendard;
    font-weight: 700;
    font-size: 25px;
    text-align: right;
}

.mypage_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
}

.mypage_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 60px);
    /* border-radius: 15px; */
    /* background-color: white; */
    /* box-shadow: 2px 1px rgb(196, 195, 195); */
    /* padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 5%; */
    /* box-sizing: border-box; */
}

.mypage-login-div {
    display: flex;
    align-items: center;
}

.mypage_profile a {
    text-decoration: none;
}

.mypage-login-div img {
    display: flex;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50px;
}

.mypage-login-div span {
    font-family: Pretendard;
    font-weight: 600;
    text-decoration: none;
    color: rgb(31, 31, 31);
    margin-left: 5px;
}

.mypage_blood {
    width: 95%;
    /* height: 100%; */
    border-radius: 15px;
    background-color: white;
    /* box-shadow: 2px 1px rgb(196, 195, 195); */
    padding-left: 10px;
    padding-bottom: 50px;
    margin-bottom: 17px;
}

/* .mypage-chart-title {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
}

.mypage-chart-title span {
    margin-left: 5px;
    font-family: Pretendard;
    font-weight: 700;
    font-size: 20px;
} */

hr {
    width: 100%;
    margin-bottom: 15px;
}

#mypage-title {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    position: relative;
    width: 100%;
}

#mypage-title-text {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 700;
}

/* 뒤로 가기 버튼 */
#mypage-goback {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 2px;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 100;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    z-index: 10;
}

.mypage_blood_title {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.mypage_blood_title_detail {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding-right: 15px;
}

.mypage_blood_title_detail h4 {
    color: gray;
}

.mypage_blood img {
    display: flex;
    width: 23%;
    height: 80%;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 50px;
}

.mypage-button {
    background-color: rgb(190, 190, 190);
    border: none;

    border-radius: 10px;
    width: 95%;
    height: 30px;

    margin-bottom: 10px;

    font-family: Pretendard;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

#mypage-logout-button {
    margin-bottom: 15px;
    background-color: rgb(255, 92, 92);
}

/* 로딩 화면 */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    z-index: 9999;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

.my-confirm-button {
    background-color: #6c77db !important;
    color: white !important;
    font-family: "Pretendard" !important;
}

.my-cancel-button {
    background-color: rgb(255, 92, 92) !important;
    color: white !important;
    font-family: "Pretendard" !important;
}