#recipe-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.recipe-bar1 {
    display: flex;
}

#search-input {
    width: 300px;
    padding: 15px;
}

#recipe-name {
    background-color: #f6f6f6;
    width: 80%;
    min-width: 460px;
    max-width: 460px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* 각 링크 사이의 간격을 줄임 */
    margin-bottom: 20px;
}

#recipe-name h2 {
    grid-column: span 4;
    
}

#recipe-name a {
    display: inline-block;
    font-size: 15px;
    padding: 15px 10px; /* 내부 여백을 줄임 */
    background-color: #E2E2E2;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box; /* 요소 크기에 패딩과 테두리를 포함 */
    
}