@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: pretendard;
}
#recipe{
    width: 100%;
    height: 100%;
}
/* photo */
.photo {
    display: flex;
    width: 100%;
}
.photo img{
    width: 100%;
}



/* title */
.title{
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.title p{
    font-size: 25px;
    
}




/* .rowflex 클래스: 플렉스박스를 사용하여 가로로 정렬하고 높이를 200px로 설정 */
.rowflex {
    display: flex; /* 플렉스박스로 설정 */
    flex-direction: row; /* 가로 방향으로 정렬 */
    height: 50px; /* 높이를 200px로 설정 */
}

/* .rowflex > div: 각 자식 div가 동일한 너비를 차지하고 텍스트를 가운데 정렬 */
.rowflex > div {
    flex: 1; /* 각 자식 div가 동일한 너비를 차지하도록 설정 */
    display: flex; /* 자식 div를 플렉스박스로 설정 */
    justify-content: center; /* 자식 div 안의 텍스트를 좌우 가운데 정렬 */
    align-items: center; /* 자식 div 안의 텍스트를 상하 가운데 정렬 */
    position: relative; /* 나누는 선을 추가하기 위한 위치 설정 */
}

/* .rowflex > div:not(:last-child)::after: 마지막 자식이 아닌 모든 자식 div의 오른쪽에 세로선을 추가 */
.rowflex > div:not(:last-child)::after {
    content: ''; /* 가상 요소 생성 */
    position: absolute; /* 절대 위치 지정 */
    right: 0; /* 오른쪽 끝에 위치 */
    top: 50%; /* 상하 가운데 정렬 */
    transform: translateY(-50%); /* 상하 가운데 정렬 보정 */
    height: 50%; /* 세로 선의 높이를 50%로 설정 */
    width: 1px; /* 세로 선의 너비를 1px로 설정 */
    background-color: #ccc; /* 나누는 선의 색상을 회색으로 설정 */
}

/* .rowflex > div:not(:last-child): 마지막 자식이 아닌 모든 자식 div에 오른쪽 패딩 추가 */
.rowflex > div:not(:last-child) {
    padding-right: 10px; /* 오른쪽 패딩을 10px로 설정 */
}

/* .rowflex > div:not(:first-child): 첫 번째 자식이 아닌 모든 자식 div에 왼쪽 패딩 추가 */
.rowflex > div:not(:first-child) {
    padding-left: 10px; /* 왼쪽 패딩을 10px로 설정 */
}


/* content */
.content{
    font-size: 12px;
    color: rgb(196, 196, 196);
    padding: 2%;
}

.ingredient{
    font-size: 16px;
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* 밑줄만 */
}
th {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd; /* 밑줄만 */
}
ul {
    list-style-type: none; /* li의 기본 마커 제거 */
    padding: 0;
}
li::marker {
    content: none; /* li의 마커 제거 */
}
.recipe-detail-rowflex-div img{
    padding-right: 4px;
}