.container-title {
    display: flex;
    flex-direction: row;
    align-items: center; /* 요소들을 세로 중앙에 정렬 */
    padding: 5px;
    padding-top: 20px;
}

.list_title {
    display: flex;
    flex-direction: row;
    align-items: center; /* 요소들을 세로 중앙에 정렬 */
}

#recipe-page-background {
    display: flex;
    align-items: center; /* a 태그 내부 요소들을 세로 중앙에 정렬 */
    text-decoration: none; /* a 태그의 기본 밑줄 제거 */
    color: inherit; /* a 태그의 기본 색상 상속 */
}

#recipe-page-background img {
    width: 14px; /* 이미지 너비 설정 */
    height: 14px; /* 이미지 높이 설정 */
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 설정 */
}

.list_title span {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center; /* 텍스트를 세로 중앙에 정렬 */
    margin-left: 10px; /* 이미지와 텍스트 사이 간격 설정 */
}


/* content */
.content-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px;
    max-width: 1200px; /* 전체 콘텐츠의 최대 너비를 설정 */
}

.recipe {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    border-bottom: 1px solid #ddd; /* 각 레시피 항목 사이에 구분선 추가 */
    padding-bottom: 24px;
}

.recipe img {
    width: 92px;
    height: 92px;
    object-fit: cover;
    margin-right: 16px;
}

.recipe-details {
    flex: 1;
    min-width: 0; /* flexbox에서 overflow가 발생하지 않도록 설정 */
}

.recipe-details h2 {
    margin: 0 0 4px 0;
    font-size: 1.2em;
}

.recipe-details p {
    margin: 0 0 4px 0;
    font-size: 0.8em;
    white-space: normal; 
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 원하는 줄 수로 설정, 여기서는 두 줄 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* 원하는 최대 너비로 설정, 화면 크기에 따라 변경 가능 */
}

.recipe-meta {
    display: flex;
    gap: 14px; /* 각 항목 사이의 간격을 설정 */
    margin-top: 17px; /* 적당한 여백 추가 */
    font-size: 0.9em; /* 글씨 크기 약간 조정 */
}

.recipe-meta span {
    display: flex;
    align-items: center;
}

.recipe-meta img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
