@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    /* padding: 2%; 내부 여백 설정 */
    box-sizing: border-box;
    /* 테두리와 여백을 포함하여 크기 계산 */
    /* margin-bottom: 50px; */
    /* margin-top: 40px; */
}

hr {
    width: 100%;
    margin-bottom: 15px;
}

#recipe-title {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    position: relative;
    width: 100%;
}

#recipe-title-text {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 700;
}

/* 뒤로 가기 버튼 */
#recipe-goback {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 2px;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 100;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    z-index: 10;
}

#recipe-name {
    background-color: #f6f6f6;
    /* width: 80%; */
    /* min-width: 400px;
    max-width: 400px; */
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* 각 링크 사이의 간격을 줄임 */
    margin-bottom: 20px;
}

#recipe-name h2 {
    font-family: Pretendard;
    font-size: 22px;
    /* font-weight: 800; */
    grid-column: span 4;
}

#recipe-name a {
    display: inline-block;
    font-size: 12px;
    /* padding: 15px 15px; 내부 여백을 줄임 */
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #f6f6f6;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    /* 요소 크기에 패딩과 테두리를 포함 */
    transition: background-color 0.3s;
}

/* 클릭 및 포커스 시 색상 유지 */
#recipe-name a.active {
    background-color: #cfcfcf;
    /* 클릭 및 포커스 시 배경색 설정 (원하는 색상으로 변경) */
}

#recipe-name img {
    width: 100%;
    height: auto;
    max-width: 40px;
    /* 원하는 최대 크기로 설정 */
    border-radius: 10px;
    margin-bottom: 5px;
}

#recipe-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
    width: 100%;

    gap: 7px;
}

#recipe-camera-input {
    display: none;
}

#recipe-bar input {
    width: 45%;
    font-size: 14px;
    font-family: Pretendard;
}

#recipe-bar button {
    padding: 5px;
    /* background-color: white; */
    border: none;
    border-radius: 8px;
    width: 40px;
}

#recipe-bar span,
button {
    font-family: Pretendard;
    font-weight: 500;
    font-size: 15px;
}

.button-group1 {
    display: flex;
    flex-direction: row;
}

/* 로딩 화면 */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    z-index: 9999;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}