@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Freesentation';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

#reset-password-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100hv;
    width: 100hw;
    background-color: #f6f6f6;
}

#reset-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 95%;
    height: 100vh;
}

#reset-password-wrapper img {
    margin-top: 70px;
    width: 135px;
    height: 140px;
}

#reset-password-wrapper h1 {
    color: rgb(32, 32, 32);
    font-family: "Freesentation";
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 2em;
}

.reset-password-input:focus {
    outline: none;
}

.reset-password-input {
    width: 65%;
    height: 35px;
    border: 0;
    border-bottom: solid 1px rgb(16, 15, 15);
    font-family: "pretendard";
}

#reset-password-button {
    margin-top: 5px;
    background-color: rgb(255, 0, 0);
    width: 65%;
    height: 37px;
    border: 0;
    color: white;
    font-family: "Pretendard";
    font-weight: 600;
}