hr {
    width: 100%;
    margin-bottom: 15px;
}

#sugardiary-title {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    position: relative;
    width: 100%;
}

#sugardiary-title-text {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 700;
}

/* 뒤로 가기 버튼 */
#sugardiary-goback {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 2px;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 100;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    /* z-index: 10; */
}

.mypage-login-div {
    display: flex;
    align-items: center;
}

.mypage_profile a {
    text-decoration: none;
}

.mypage-login-div img {
    display: flex;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50px;
}

.mypage-login-div span {
    font-family: Pretendard;
    font-weight: 600;
    text-decoration: none;
    color: rgb(31, 31, 31);
    margin-left: 5px;
}
.mypage_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
    /* border-radius: 15px; */
    /* background-color: white; */
    /* box-shadow: 2px 1px rgb(196, 195, 195); */
    /* padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 5%; */
    /* box-sizing: border-box; */
}

#sugardiary-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#sugardiary_main {
    width: 100%;
    height: 100%;
}

/* Calendar Container */
#calendar-container {
    /* width: 100%; */
    /* 화면 너비에 맞게 조정 */
    /* margin: auto; */
    padding-bottom: 18px;
    /* 네비게이션 바와의 간격을 위해 추가 */
}

#sugar-calendar-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;

    font-size: 1.2em;
    font-weight: bold;
    background-color: transparent;
    box-sizing: content-box;
}

#calendar-header span {
    margin: 0 5px;
}

#calendar {
    display: flex;
    flex-wrap: nowrap;
    /* 날짜들을 한 줄로 나열 */
    align-items: center;
    padding: 2px;
    margin-left: 10px;
    box-sizing: border-box;
    gap: 10px;
    /* 날짜 사이 간격 */
    background-color: transparent;
    /* 배경색 투명 */
}

#calendar .day {
    flex: 0 0 11.6%;
    /* 7일이 한 줄에 들어가게 설정 */
    height: 70px;
    /* 날짜 셀의 높이 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
    width: 30px;
    /* 날짜 셀의 너비 */
    height: 70px;
    /* 날짜 셀의 높이 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
    /* 클릭 가능한 요소로 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 내용 중앙 정렬 */
    background-color: #ffffff;
    /* 날짜 셀 배경색 투명 */
    border-radius: 60px;
}

#calendar .day.selected {
    background-color: rgb(65, 61, 61);
    /* 선택된 날짜의 배경색 */
    color: white;
    /* 선택된 날짜의 텍스트 색상 */
    font-weight: bold;
    /* 선택된 날짜의 텍스트 굵게 */
}

#records-container {
    /* overflow-y: auto; */
    /* 콘텐츠가 넘칠 때 스크롤바 표시 */
    /* transition: max-height 0.3s ease; */
    /* 스크롤 높이 변경 시 부드러운 애니메이션 */
    /* 초기 최대 높이 설정 */
    /* max-height: calc(100vh - 100px); */
    /* 여백을 고려한 초기 최대 높이 */
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin-bottom: 25px; */
}

/* #records-container.shrink {
    padding-bottom: 0;
} */

.record-entry {
    position: relative;
    background-color: white;
    padding: 15px;
    margin: 0 15px 20px 15px;
    height: 100px;

    border-radius: 20px;
}

.record-title {
    font-weight: bold;
    font-size: 16px;
}
#record-title-text {
    position: relative;
    /* left: 50px; */
    margin-left: 30px;
    bottom: 28px;
    font-size: 20px;
}

.record-time {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.close-icon {
    color: red;
    font-size: 16px;
    padding: 2px 6px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.record-entry .record-value {
    position: relative;
    text-align: right;
    align-self: flex-end;
    bottom: 20px;
}

.floating-buttons {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 1000;
}

#main-toggle-button {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 24px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    transition: transform 0.3s ease;
    pointer-events: auto !important;
}

#main-toggle-button.rotate {
    transform: rotate(45deg);
    /* 오른쪽으로 45도 회전 */
}

.floating-button {
    background-color: #e3e3e3;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 24px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.floating-button-text {
    background-color: #e3e3e3;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: black;
    display: inline-block;
}

.hidden {
    display: none;
}

#menu-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.floating-button-container {
    display: flex;
    align-items: center;
    margin: 1px 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.floating-button-container.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto !important;
}

.floating-button:disabled {
    background-color: #d3d3d3;
    /* Light gray for disabled */
    cursor: not-allowed;
}

/* 삭제 애니메이션 */
@keyframes slideUpFadeOut {
    0% {
        opacity: 1;
        height: auto;
        font-size: auto;
        /* transform: translateY(0); */
    }
    100% {
        opacity: 0;
        height: 0;
        font-size: 0;
        margin: 0;
        padding: 0;
        /* transform: translateY(-100%); */
    }
}

@keyframes shrinkImage {
    0% {
        width: 24px;
        height: 24px;
    }
    100% {
        width: 0;
        height: 0;
    }
}

.record-entry.removing {
    animation: slideUpFadeOut 0.5s forwards;
    overflow: hidden;
}

.record-entry.removing img {
    animation: shrinkImage 0.5s forwards;
}

/* 로딩 화면 */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    z-index: 9999;
}
#inner-loading-screen {
    position: fixed;
    top: 190px;
    left: 0;
    width: 100%;
    height: calc(100vh - 190px - 55px);
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    z-index: 999;
    display: none;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite,
        colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285f4;
    }

    25% {
        stroke: #de3e35;
    }

    50% {
        stroke: #f7c223;
    }

    75% {
        stroke: #1b9a59;
    }

    100% {
        stroke: #4285f4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285f4;
    }

    25% {
        stroke: #de3e35;
    }

    50% {
        stroke: #f7c223;
    }

    75% {
        stroke: #1b9a59;
    }

    100% {
        stroke: #4285f4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

/* 모달창 버튼 */
.my-confirm-button {
    background-color: #6c77db !important;
    color: white !important;
    font-family: "Pretendard" !important;
}

.my-cancel-button {
    background-color: rgb(255, 92, 92) !important;
    color: white !important;
    font-family: "Pretendard" !important;
}
