#sugardiary_main {
    width: 94.5%;
    height: 90%;
}

/* Calendar Container */
#calendar-container {
    width: 100%;
    max-width: 100%;
    /* 화면 너비에 맞게 조정 */
    margin: auto;
    padding-bottom: 18px;
    /* 네비게이션 바와의 간격을 위해 추가 */
}

#calendar-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: 1.2em;
    /* 더 큰 폰트 크기 */
    font-weight: bold;
    width: 100%;
    /* 전체 너비 사용 */
    background-color: transparent;
    /* 배경색 투명 */
}

#calendar-header span {
    margin: 0 5px;
}

#calendar {
    display: flex;
    flex-wrap: nowrap;
    /* 날짜들을 한 줄로 나열 */
    align-items: center;
    padding: 2px;
    margin-left: 25px;
    box-sizing: border-box;
    gap: 10px;
    /* 날짜 사이 간격 */
    background-color: transparent;
    /* 배경색 투명 */
}

#calendar .day {
    flex: 0 0 11.6%;
    /* 7일이 한 줄에 들어가게 설정 */
    height: 70px;
    /* 날짜 셀의 높이 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
    width: 30px;
    /* 날짜 셀의 너비 */
    height: 70px;
    /* 날짜 셀의 높이 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
    /* 클릭 가능한 요소로 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 내용 중앙 정렬 */
    background-color: #FFFFFF;
    /* 날짜 셀 배경색 투명 */
    border-radius: 60px;
}

#calendar .day.selected {
    background-color: rgb(65, 61, 61);
    /* 선택된 날짜의 배경색 */
    color: white;
    /* 선택된 날짜의 텍스트 색상 */
    font-weight: bold;
    /* 선택된 날짜의 텍스트 굵게 */
}

#records-container {
    overflow-y: auto;
    /* 콘텐츠가 넘칠 때 스크롤바 표시 */
    transition: max-height 0.3s ease;
    /* 스크롤 높이 변경 시 부드러운 애니메이션 */
    /* 초기 최대 높이 설정 */
    max-height: calc(100vh - 100px);
    /* 여백을 고려한 초기 최대 높이 */
}

#records-container.shrink {
    padding-bottom: 0;
}

.record-entry {
    position: relative;
    background-color: white;
    padding: 15px;
    margin: 15px;
    height: 100px;
    left: 10px;
    border-radius: 20px;
}

.record-title {
    font-weight: bold;
    font-size: 16px;
}
#record-title-text {
    position: relative;
    /* left: 50px; */
    margin-left: 30px;
    bottom: 28px;
    font-size: 20px;
}

.record-time {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.close-icon {
    color: red;
    font-size: 16px;
    padding: 2px 6px;
    position: absolute;
    top: 10px;
    right: 10px;

}

.record-entry .record-value {
    position: relative;
    text-align: right;
    align-self: flex-end;
    bottom: 20px;
}

.floating-buttons {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    transition: all 0.3s ease;
}

#main-toggle-button {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 24px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    transition: transform 0.3s ease;
}

#main-toggle-button.rotate {
    transform: rotate(45deg);
    /* 오른쪽으로 45도 회전 */
}

.floating-button {
    background-color: #e3e3e3;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 24px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.floating-button-text {
    background-color: #e3e3e3;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: black;
    display: inline-block;
}

.hidden {
    display: none;
}

#menu-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.floating-button-container {
    display: flex;
    align-items: center;
    margin: 1px 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.floating-button-container.show {
    opacity: 1;
    transform: translateY(0);
}

.floating-button:disabled {
    background-color: #d3d3d3;
    /* Light gray for disabled */
    cursor: not-allowed;
}
